.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Panel{
  border-radius: 30px;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  height: 30%;
  padding: 10px;

  background-color: aliceblue;
  color: black;
  
}





.PanelList{
  overflow: hidden;
  width: 90%;
  height: 50%;
  padding: 20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 10px;
  gap: 10px;
  
}


.panelImg{
  float: left;
  width: 30%;
  margin: 10px;
  padding: 30px;
  border-radius: 60px;
  
}



@keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.PanelList:first-child{
  animation-delay: 2000000ms;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
  .Panel{
    animation: fadeIn 1000ms 0ms forwards;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

