@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Panel{
  border-radius: 30px;
  flex-direction: row;
  justify-content: center;
  min-width: 400px;
  width: 60%;
  height: 20%;
  padding: 10px;

  background-color: aliceblue;
  color: black;
  
}


.textbox{
  align-items: center;
  justify-content: center;
  height:30%;
  width:50%;
  display: flex;
  padding: 20px;
  flex-direction: column;
  gap: 20px;
  color: #282c34;
}

.submitButton{
  width: 100px;
  height: 35px;
  border-radius: 10px;

}

.text{
  width:300px;
  height:40px;
border-radius: 20px;
}




.PanelList{

  align-items: center;
  overflow: hidden;
  width: 90%;
  height: 50%;
  padding: 20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 10px;
  gap: 10px;
  
}


.panelImg{
  float: left;
  width: 30%;
  margin: 10px;
  padding: 30px;
  border-radius: 60px;
  
}

.submitButton{
  color: white;
}

@keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.PanelList:first-child{
  animation-delay: 2000000ms;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

